
#list {
  display: none;
  border: black;
  margin: -30px;
  padding: -15px -32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  /*color: red;*/
}
.red {
  color: red;
}
.ping {
  display: none;
}
.jumbotron {
  padding: 5%;
  background-color: 30% grey;
}
img {
  clear: both;
  float: left;
  margin: -200px;
  padding: -200px;
  margin-left: 400px;
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}
#number {
  max-width: 70%;
  max-height: 70%;
}
ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  border-collapse: collapse;
  margin: 100px;
  padding: 0px;
  column-gap:70px
}
